body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.Color {
    color: orange;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
}

.Flexible-Container {
    display: flex;
    margin-bottom: 50px;

    border-radius: 15%;

}

.Half-width {
    width: 50%;
    padding: 5%;


}

.Half-width img {
    width: 100%;
}

.Size {
    font-size: 25px;
}

.Hire {

    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 900;
}

.Half-width2 img {
    width: 100%;
}

.Add-Banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.Half-width2 {
    width: 60%;
    padding: 5%;

}



.Add-Banner2 {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;



}

.Year {
    color: coral;
    font-weight: 700;
}

.Experience-Item {
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    border-radius: 10px;
}

.Font {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.experiences-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

#Web {
    border-left: 7px solid;
    border-image: linear-gradient(blue, orange, gray);
    border-image-slice: 1;
}

#Web1 {
    border-left: 7px solid;
    border-image: linear-gradient(yellow, green, red);
    border-image-slice: 1;
}

footer p {
    text-align: center;
    padding: 5%;
}